body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
section{
    margin-bottom: 150px;
}
.flexible-content{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3% ;
}
.half-width img{
    width: 90%;
}
.p{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(salmon, tomato);
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.expreience-item{
    width: 40%;
    box-shadow: 10px 20px 40px gray;
    margin: 0% 3% ;
    padding:1% 3% 3%;
    border-radius: 10px;
}
#web-dev{
    border-left:7px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#stack-dev{
    border-left:7px solid ;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: black;
}